
*{
    background-image:url("https://e1.pxfuel.com/desktop-wallpaper/667/3/desktop-wallpaper-premium-vector-of-blank-floral-invitation-card-vector-invitation-card.jpg");
    background-attachment:fixed ;
    background-repeat: no-repeat;
    background-size: cover;
}